<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Pushes the local </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>REGISTRY_REPO_NAME</name>
          <description>This is used to identify the name of the docker registry repository that this image is going to be pushed to</description>
          <defaultValue>centos7-java-tomcat</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ECR_REGISTRY_URL</name>
          <description>The url of the elastic container registry (ECR) where the newly created image is to be pushed to from this server and pulled from by the target docker host</description>
          <defaultValue>730096353738.dkr.ecr.us-east-1.amazonaws.com</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TOMCAT_VERSION</name>
          <description>The value the image being built is to tagged with for identification within the local and registry repositories.</description>
          <defaultValue>8.5.34</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># 2) Define variables.
# NOTE: JENKINS_URL is the full URL of Jenkins, like http://server:port/jenkins/ 
#       Only available if Jenkins URL is set in system configuration
ECR_REPO_URL=&quot;${ECR_REGISTRY_URL}/${REGISTRY_REPO_NAME}&quot;
DOCKER_TAG=&quot;${ECR_REPO_URL}:tomcat${TOMCAT_VERSION}&quot;

# 4) Login to the registry
# NOTE: info on how to store credentials can be found at: 
#       http://docs.aws.amazon.com/cli/latest/topic/config-vars.html
#       requires ~/.aws/config
# evalstr=&quot;$(aws ecr get-login --profile ecr.access)&quot;
         
# NOTE: The ecr get-login command of the aws cli returns a docker command that includes a removed switch.
# The -e (email) switch will be rejected by the newer version of docker that we have installed on our aws
# ec2 instances to accomodate cloud watch logging from our containers. Therefore I am removing the offending
# &quot;-e none&quot; portion of the command with the stream editor.
# evalstr=&quot;$(echo $evalstr | sed &apos;s/ -e none//&apos;)&quot;
# eval $evalstr

$(aws ecr get-login --no-include-email --region us-east-1)

# 5) Push the newly created image to the registry
docker push ${DOCKER_TAG}
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>