<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.7.1">
  <actions/>
  <description>Builds the kc war.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>version</name>
          <description>Git tag to build from</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>coeus-1603.49</string>
              <string>coeus-1602.9</string>
              <string>coeus-1602.7</string>
              <string>coeus-1602.69</string>
              <string>coeus-1602.68</string>
              <string>coeus-1602.67</string>
              <string>coeus-1602.66</string>
              <string>coeus-1602.65</string>
              <string>coeus-1602.64</string>
              <string>coeus-1602.63</string>
              <string>coeus-1602.62</string>
              <string>coeus-1602.61</string>
              <string>coeus-1602.60</string>
              <string>coeus-1602.6</string>
              <string>coeus-1602.59</string>
              <string>coeus-1602.58</string>
              <string>coeus-1602.56</string>
              <string>coeus-1602.55</string>
              <string>coeus-1602.54</string>
              <string>coeus-1602.53</string>
              <string>coeus-1602.52</string>
              <string>coeus-1602.51</string>
              <string>coeus-1602.50</string>
              <string>coeus-1602.5</string>
              <string>coeus-1602.49</string>
              <string>coeus-1602.48</string>
              <string>coeus-1602.47</string>
              <string>coeus-1602.46</string>
              <string>coeus-1602.45</string>
              <string>coeus-1602.44</string>
              <string>coeus-1602.43</string>
              <string>coeus-1602.42</string>
              <string>coeus-1602.41</string>
              <string>coeus-1602.40</string>
              <string>coeus-1602.4</string>
              <string>coeus-1602.39</string>
              <string>coeus-1602.38</string>
              <string>coeus-1602.37</string>
              <string>coeus-1602.36</string>
              <string>coeus-1602.35</string>
              <string>coeus-1602.34</string>
              <string>coeus-1602.33</string>
              <string>coeus-1602.32</string>
              <string>coeus-1602.31</string>
              <string>coeus-1602.30</string>
              <string>coeus-1602.3</string>
              <string>coeus-1602.29</string>
              <string>coeus-1602.28</string>
              <string>coeus-1602.27</string>
              <string>coeus-1602.26</string>
              <string>coeus-1602.25</string>
              <string>coeus-1602.24</string>
              <string>coeus-1602.23</string>
              <string>coeus-1602.22</string>
              <string>coeus-1602.21</string>
              <string>coeus-1602.20</string>
              <string>coeus-1602.2</string>
              <string>coeus-1602.19</string>
              <string>coeus-1602.18</string>
              <string>coeus-1602.17</string>
              <string>coeus-1602.16</string>
              <string>coeus-1602.15</string>
              <string>coeus-1602.14</string>
              <string>coeus-1602.13</string>
              <string>coeus-1602.12</string>
              <string>coeus-1602.11</string>
              <string>coeus-1602.10</string>
              <string>coeus-1602.1</string>
              <string>coeus-1601.99</string>
              <string>coeus-1601.98</string>
              <string>coeus-1601.97</string>
              <string>coeus-1601.96</string>
              <string>coeus-1601.95</string>
              <string>coeus-1601.94</string>
              <string>coeus-1601.93</string>
              <string>coeus-1601.92</string>
              <string>coeus-1601.91</string>
              <string>coeus-1601.90</string>
              <string>coeus-1601.9</string>
              <string>coeus-1601.89</string>
              <string>coeus-1601.88</string>
              <string>coeus-1601.87</string>
              <string>coeus-1601.86</string>
              <string>coeus-1601.85</string>
              <string>coeus-1601.84</string>
              <string>coeus-1601.83</string>
              <string>coeus-1601.82</string>
              <string>coeus-1601.81</string>
              <string>coeus-1601.80</string>
              <string>coeus-1601.79</string>
              <string>coeus-1601.78</string>
              <string>coeus-1601.77</string>
              <string>coeus-1601.76</string>
              <string>coeus-1601.75</string>
              <string>coeus-1601.73</string>
              <string>coeus-1601.72</string>
              <string>coeus-1601.71</string>
              <string>coeus-1601.70</string>
              <string>coeus-1601.7</string>
              <string>coeus-1601.69</string>
              <string>coeus-1601.68</string>
              <string>coeus-1601.67</string>
              <string>coeus-1601.66</string>
              <string>coeus-1601.65</string>
              <string>coeus-1601.64</string>
              <string>coeus-1601.63</string>
              <string>coeus-1601.62</string>
              <string>coeus-1601.61</string>
              <string>coeus-1601.60</string>
              <string>coeus-1601.6</string>
              <string>coeus-1601.59</string>
              <string>coeus-1601.58</string>
              <string>coeus-1601.57</string>
              <string>coeus-1601.55</string>
              <string>coeus-1601.54</string>
              <string>coeus-1601.53</string>
              <string>coeus-1601.52</string>
              <string>coeus-1601.51</string>
              <string>coeus-1601.50</string>
              <string>coeus-1601.5</string>
              <string>coeus-1601.49</string>
              <string>coeus-1601.48</string>
              <string>coeus-1601.47</string>
              <string>coeus-1601.46</string>
              <string>coeus-1601.45</string>
              <string>coeus-1601.43</string>
              <string>coeus-1601.42</string>
              <string>coeus-1601.41</string>
              <string>coeus-1601.40</string>
              <string>coeus-1601.4</string>
              <string>coeus-1601.39</string>
              <string>coeus-1601.38</string>
              <string>coeus-1601.37</string>
              <string>coeus-1601.36</string>
              <string>coeus-1601.35</string>
              <string>coeus-1601.34</string>
              <string>coeus-1601.33</string>
              <string>coeus-1601.32</string>
              <string>coeus-1601.31</string>
              <string>coeus-1601.30</string>
              <string>coeus-1601.3</string>
              <string>coeus-1601.29</string>
              <string>coeus-1601.27</string>
              <string>coeus-1601.26</string>
              <string>coeus-1601.25</string>
              <string>coeus-1601.24</string>
              <string>coeus-1601.23</string>
              <string>coeus-1601.22</string>
              <string>coeus-1601.21</string>
              <string>coeus-1601.20</string>
              <string>coeus-1601.2</string>
              <string>coeus-1601.19</string>
              <string>coeus-1601.18</string>
              <string>coeus-1601.17</string>
              <string>coeus-1601.16</string>
              <string>coeus-1601.15</string>
              <string>coeus-1601.14</string>
              <string>coeus-1601.13</string>
              <string>coeus-1601.12</string>
              <string>coeus-1601.11</string>
              <string>coeus-1601.108</string>
              <string>coeus-1601.107</string>
              <string>coeus-1601.106</string>
              <string>coeus-1601.105</string>
              <string>coeus-1601.104</string>
              <string>coeus-1601.102</string>
              <string>coeus-1601.101</string>
              <string>coeus-1601.100</string>
              <string>coeus-1601.10</string>
              <string>coeus-1601.1</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SCP_URL</name>
          <description>This is the target base url to which the built war file will be transferred via scp.</description>
          <defaultValue>ec2-52-37-253-82.us-west-2.compute.amazonaws.com</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/kuali/kc</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>tags/$version</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>false</shallow>
        <noTags>false</noTags>
        <reference></reference>
        <timeout>45</timeout>
        <depth>0</depth>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/var/jenkins/workspace</customWorkspace>
  <rootModule>
    <groupId>org.kuali.coeus</groupId>
    <artifactId>coeus</artifactId>
  </rootModule>
  <goals>clean -e -X compile install -Dgrm.off=true</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper plugin="preSCMbuildstep@0.3">
      <buildSteps>
        <hudson.tasks.Shell>
          <command>set +x
echo &quot; &quot;
echo &quot;----------------------------------------------------------------------------&quot;
echo &quot;             Ping test for $SCP_URL&quot;
echo &quot;----------------------------------------------------------------------------&quot;
set -x
# if ping returns an exit value. If non-zero (ping failed), the job will stop here
ping -c 1 $SCP_URL;
echo &quot; &quot;
</command>
        </hudson.tasks.Shell>
      </buildSteps>
      <failOnError>true</failOnError>
    </org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
  </buildWrappers>
  <prebuilders/>
  <postbuilders/>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>