<?xml version='1.1' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@3.2">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <description>version of artifact to build</description>
          <defaultValue>coeus-1603.49</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/whennemuth/kc</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>tags/$VERSION</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.kuali.coeus</groupId>
    <artifactId>coeus</artifactId>
  </rootModule>
  <goals>clean validate</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <ignoreUnsuccessfulUpstreams>false</ignoreUnsuccessfulUpstreams>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers/>
  <buildWrappers/>
  <prebuilders>
    <hudson.tasks.Shell>
      <command>set +x
echo &quot; &quot;
echo &quot;----------------------------------------------------------------------------&quot;
echo &quot;          M2 DEPENDENCY CHECK (schemaspy, rice, coeus-api, s2sgen)&quot;
echo &quot;----------------------------------------------------------------------------&quot;
echo &quot; &quot;
echo &quot;1) Analyzing pom for versions...&quot;

# Get the content of the pom file with all return/newline characters removed.
content=$(cat pom.xml | sed &apos;:a;N;$!ba;s/\n//g&apos;)

# Get versions of dependencies, use a zero width lookbehind for the open element and capture 
# all following characters thereafter until a closing element character is encountered
 
schemaspy_version=$(echo &quot;$content&quot; | grep -Po &apos;(?&lt;=&lt;schemaspy\.version&gt;)([^&lt;]+)&apos;)
echo &quot;schemaspy version: ${schemaspy_version}&quot;
 
rice_version=$(echo &quot;$content&quot; | grep -Po &apos;(?&lt;=&lt;rice\.version&gt;)([^&lt;]+)&apos;)
echo &quot;rice version: ${rice_version}&quot;
 
api_version=$(echo &quot;$content&quot; | grep -Po &apos;(?&lt;=&lt;coeus\-api\-all\.version&gt;)([^&lt;]+)&apos;)
echo &quot;coeus-api version: ${api_version}&quot;
 
s2sgen_version=$(echo &quot;$content&quot; | grep -Po &apos;(?&lt;=&lt;coeus\-s2sgen\.version&gt;)([^&lt;]+)&apos;)
echo &quot;s2sgen version: ${s2sgen_version}&quot;

echo &quot; &quot;
echo &quot;2) Searching .m2 directory for dependencies installed for above versions...&quot;

repo=&quot;/home/jenkins/.m2/repository&quot;

# file extension, group, version, artifactid, parent_artifactid, job
m2_items=(
   &quot;jar,co/kuali/schemaspy,${schemaspy_version},schemaspy,schemaspy,schemaspy&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-archetype-quickstart,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-core-api,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-db-config,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-deploy,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-development-tools,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-impex-client-bootstrap,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-impex-master,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-impex-server-bootstrap,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-impl,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-it-config,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-ken-api,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-kew-api,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-kim-api,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-kns,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-krad-app-framework,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-krms-api,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-ksb-api,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-legacy-web,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-location-api,rice,kc-rice&quot;
   &quot;war,org/kuali/rice,${rice_version},rice-serviceregistry,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-sql,rice,kc-rice&quot;
   &quot;war,org/kuali/rice,${rice_version},rice-standalone,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-tools-test,rice,kc-rice&quot;
   &quot;war,org/kuali/rice,${rice_version},rice-web,rice,kc-rice&quot;
   &quot;jar,org/kuali/rice,${rice_version},rice-xml,rice,kc-rice&quot;
   &quot;jar,org/kuali/coeus,${api_version},coeus-api-all,coeus-api,kc-api&quot;
   &quot;jar,org/kuali/coeus,${s2sgen_version},coeus-s2sgen-api,coeus-s2sgen,kc-s2sgen&quot;
   &quot;jar,org/kuali/coeus,${s2sgen_version},coeus-s2sgen-impl,coeus-s2sgen,kc-s2sgen&quot;
)

jobs_to_run=()
git_tags=()

for i in ${m2_items[@]}; do

   IFS=&apos;,&apos; read -ra parts &lt;&lt;&lt; &quot;${i}&quot;

   ext=${parts[0]}
   group=${parts[1]}
   version=${parts[2]}
   artifactid=${parts[3]}
   parentartifactid=${parts[4]}
   job=${parts[5]}

   artifact=&quot;${repo}/${group}/${artifactid}/${version}/${artifactid}-${version}.${ext}&quot;
   if [ -f $artifact ] ; then
      echo &quot;found: ${artifact}&quot;;
   else
      echo &quot;MISSING: ${artifact}&quot;;
      if [ -z &quot;$(echo $jobs_to_run[*]} | grep ${job})&quot; ] ; then
         jobs_to_run+=(${job});
         git_tags+=(&quot;${parentartifactid}-${version}&quot;);
      fi
   fi
done

echo &quot; &quot;

if [ ${#jobs_to_run[@]} -eq 0 ] ; then
   echo &quot;All dependencies accounted for&quot;;
else
   source /var/lib/jenkins/cli-credentials.sh
   echo &quot;DEPENDENCIES MISSING. Must build the following: ${jobs_to_run[*]}&quot;;
   echo &quot; &quot;
   for ((i=0; i&lt;${#jobs_to_run[*]}; i++));
   do
      # java -jar /home/jenkins/jenkins-cli.jar -s http://localhost:8080/ build &apos;jenkins-cli test2&apos; -v -f -p PARM1=hello --username=warren --password=password
      # java -jar /home/jenkins/jenkins-cli.jar -s http://localhost:8080/ build ${jobs_to_run[i]} -v -f -p VERSION=${git_tags[i]}
      echo &quot;java -jar /home/jenkins/jenkins-cli.jar -s http://localhost:8080/ build ${jobs_to_run[i]} -v -f -p VERSION=${git_tags[i]}&quot;
   done
fi

echo &quot; &quot;
echo &quot;----------------------------------------------------------------------------&quot;
echo &quot;                      FINISHED M2 DEPENDENCY CHECK&quot;
echo &quot;----------------------------------------------------------------------------&quot;
echo &quot; &quot;


set -x

</command>
    </hudson.tasks.Shell>
  </prebuilders>
  <postbuilders/>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>