<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Build the app image (the image will curl the jenkins war artifact into itself while it is building).
docker build \
   -f kuali_research_docker_file_bundlewar \
   -t ec2-52-25-226-38.us-west-2.compute.amazonaws.com:5000/bu-ist/kuali-research-dind:v1.0 \
   --build-arg SOURCE_WAR=ec2-52-37-165-82.us-west-2.compute.amazonaws.com:8080/job/kc-dind/ws/coeus-webapp/target/coeus-webapp-1603.49.war \
   https://github.com/whennemuth/hello-world.git#master:docker/build.context/kuali-research
   
# Push the newly created image to the registry (Assumes the directory containing the sa.crt file is mounted into this jenkins container).
docker push ec2-52-25-226-38.us-west-2.compute.amazonaws.com:5000/bu-ist/kuali-research-dind:v1.0

## Execute a docker command over ssh on the application host to run a container against the new image in the registry
ssh \
   jenkins@ec2-52-37-253-82.us-west-2.compute.amazonaws.com \
   -i /var/lib/jenkins/.ssh/ec2_rsa &quot;set -x &amp;&amp; docker ps &amp;&amp; &quot; \
   &quot;docker rm -f kcdindcontainer || echo &apos;No container to remove.&apos; &amp;&amp; &quot; \
   &quot;docker pull ec2-52-25-226-38.us-west-2.compute.amazonaws.com:5000/bu-ist/kuali-research-dind:v1.0 &amp;&amp; &quot; \
   &quot;docker run&quot; \
   &quot; -d&quot; \
   &quot; -u root&quot; \
   &quot; -p 80:8080&quot; \
   &quot; -p 3306:3306&quot; \
   &quot; --restart unless-stopped&quot; \
   &quot; --name kcdindcontainer&quot; \
   &quot; -v /var/jenkins/kc/logs:/usr/local/tomcat/logs &quot; \
   &quot; -v /home/kc/kuali:/root/kuali &quot; \
   &quot;ec2-52-25-226-38.us-west-2.compute.amazonaws.com:5000/bu-ist/kuali-research-dind:v1.0 &amp;&amp; &quot; \
   &quot;docker ps&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>