<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Convenience build for the dashboard branch to sandbox EC2 environment</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <org.biouno.unochoice.DynamicReferenceParameter plugin="uno-choice@1.5.2">
          <name>GIT_COMMIT_ID</name>
          <description>This is the git commit ID that the build will be based on.
&lt;br&gt;
&lt;br&gt;</description>
          <randomName>choice-parameter-11109106720814</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.24">
              <script>def process = null
def commitId = null
process = (&quot;git -c core.askpass=true ls-remote -h https://github.com/bu-ist/kuali-research refs/heads/dashboard&quot;).execute() | &apos;grep -i -P -o ^[^\\s]+&apos;.execute()

if (process != null) {
   process.waitForOrKill(20000)
   def list = process.text.readLines()
   if (list == null || list.isEmpty()) {
      commitId = &quot;NO RESULTS!!!&quot;
   }
   else {
      commitId = list.get(0)
   }
}

return &quot;&lt;input type=&apos;text&apos; name=&apos;value&apos; value=&apos;&quot; + commitId + &quot;&apos; readonly=true style=&apos;font-family:monospace; width:310px;&apos;&gt;&quot;
</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.24">
              <script>return &quot;&lt;input type=&apos;text&apos; name=&apos;value&apos; value=&apos;error&apos; disabled=true style=&apos;font-family:monospace; width:310px;&apos;&gt;&quot;</script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>kuali-research-dashboard</projectName>
          <parameters class="linked-hash-map"/>
          <referencedParameters></referencedParameters>
          <choiceType>ET_FORMATTED_HTML</choiceType>
          <omitValueField>false</omitValueField>
        </org.biouno.unochoice.DynamicReferenceParameter>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set +x

# BUGFIX: The Active Choices Reactive Parameter Rendering feature is adding 
# a comma to the end of the GIT_COMMIT_ID textbox value, so strip off the comma
if ( [ -n &quot;${GIT_COMMIT_ID}&quot; ] &amp;&amp; [ &quot;${GIT_COMMIT_ID}&quot; != &quot;,&quot; ] ); then
   GIT_COMMIT_ID=$(echo ${GIT_COMMIT_ID} | grep -i -o -P &apos;^.*[^,](?=,?$)&apos;)
fi

java -jar /var/lib/jenkins/jenkins-cli.jar -s http://localhost:8080/ build &apos;kuali-research-1-build-war&apos; -v -f \
   -p BRANCH=feature \
   -p GIT_REFSPEC=+refs/heads/dashboard:refs/remotes/origin/dashboard \
   -p GIT_BRANCHES_TO_BUILD=$GIT_COMMIT_ID \
   -p EC2_INSTANCE_ID=i-0c2d2ef87e98f2088 \
   
set -x</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>