<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.13">
  <actions/>
  <description>Build schemaspy</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>version</name>
          <description>Schemaspy will build from the tag reference selected here.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>schemaspy-1504.1</string>
              <string>schemaspy-1504.2</string>
              <string>schemaspy-1504.3</string>
              <string>schemaspy-1504.4</string>
              <string>schemaspy-1504.5</string>
              <string>schemaspy-1504.6</string>
              <string>schemaspy-1505.1</string>
              <string>schemaspy-1505.2</string>
              <string>schemaspy-1505.3</string>
              <string>schemaspy-1505.4</string>
              <string>schemaspy-1505.5</string>
              <string>schemaspy-1507.1</string>
              <string>schemaspy-1507.2</string>
              <string>schemaspy-1508.0001</string>
              <string>schemaspy-1508.0002</string>
              <string>schemaspy-1508.0003</string>
              <string>schemaspy-1508.0004</string>
              <string>schemaspy-1508.0005</string>
              <string>schemaspy-1508.0006</string>
              <string>schemaspy-1508.0007</string>
              <string>schemaspy-1508.0008</string>
              <string>schemaspy-1508.0009</string>
              <string>schemaspy-1508.0010</string>
              <string>schemaspy-1508.0011</string>
              <string>schemaspy-1508.0012</string>
              <string>schemaspy-1508.0013</string>
              <string>schemaspy-1508.0014</string>
              <string>schemaspy-1508.0015</string>
              <string>schemaspy-1508.0016</string>
              <string>schemaspy-1508.0017</string>
              <string>schemaspy-1508.0018</string>
              <string>schemaspy-1508.0019</string>
              <string>schemaspy-1508.0020</string>
              <string>schemaspy-1508.0021</string>
              <string>schemaspy-1508.0022</string>
              <string>schemaspy-1508.0023</string>
              <string>schemaspy-1508.0024</string>
              <string>schemaspy-1508.0025</string>
              <string>schemaspy-1508.0026</string>
              <string>schemaspy-1508.0027</string>
              <string>schemaspy-1508.0028</string>
              <string>schemaspy-1508.0029</string>
              <string>schemaspy-1508.0030</string>
              <string>schemaspy-1508.0031</string>
              <string>schemaspy-1508.0032</string>
              <string>schemaspy-1508.0033</string>
              <string>schemaspy-1508.0034</string>
              <string>schemaspy-1508.0035</string>
              <string>schemaspy-1508.0036</string>
              <string>schemaspy-1508.0037</string>
              <string>schemaspy-1508.0038</string>
              <string>schemaspy-1508.0039</string>
              <string>schemaspy-1508.0040</string>
              <string>schemaspy-1508.0041</string>
              <string>schemaspy-1508.0042</string>
              <string>schemaspy-1508.0043</string>
              <string>schemaspy-1508.0044</string>
              <string>schemaspy-1508.0045</string>
              <string>schemaspy-1508.0046</string>
              <string>schemaspy-1508.0047</string>
              <string>schemaspy-1508.0048</string>
              <string>schemaspy-1508.0049</string>
              <string>schemaspy-1508.0050</string>
              <string>schemaspy-1508.0051</string>
              <string>schemaspy-1508.0052</string>
              <string>schemaspy-1508.0053</string>
              <string>schemaspy-1508.0054</string>
              <string>schemaspy-1508.0055</string>
              <string>schemaspy-1508.0056</string>
              <string>schemaspy-1508.0057</string>
              <string>schemaspy-1508.0058</string>
              <string>schemaspy-1508.0059</string>
              <string>schemaspy-1508.0060</string>
              <string>schemaspy-1508.0061</string>
              <string>schemaspy-1508.0062</string>
              <string>schemaspy-1508.0063</string>
              <string>schemaspy-1508.0064</string>
              <string>schemaspy-1508.0065</string>
              <string>schemaspy-1508.0066</string>
              <string>schemaspy-1508.0067</string>
              <string>schemaspy-1508.0068</string>
              <string>schemaspy-1508.0069</string>
              <string>schemaspy-1508.0070</string>
              <string>schemaspy-1508.0071</string>
              <string>schemaspy-1508.0072</string>
              <string>schemaspy-1508.0073</string>
              <string>schemaspy-1508.0074</string>
              <string>schemaspy-1508.0075</string>
              <string>schemaspy-1508.0076</string>
              <string>schemaspy-1508.0077</string>
              <string>schemaspy-1508.0078</string>
              <string>schemaspy-1508.0079</string>
              <string>schemaspy-1508.0080</string>
              <string>schemaspy-1508.0081</string>
              <string>schemaspy-1508.0082</string>
              <string>schemaspy-1508.0083</string>
              <string>schemaspy-1508.0084</string>
              <string>schemaspy-1508.0085</string>
              <string>schemaspy-1508.0086</string>
              <string>schemaspy-1508.0087</string>
              <string>schemaspy-1508.0088</string>
              <string>schemaspy-1508.0089</string>
              <string>schemaspy-1508.0090</string>
              <string>schemaspy-1508.0091</string>
              <string>schemaspy-1508.0092</string>
              <string>schemaspy-1508.0093</string>
              <string>schemaspy-1508.0094</string>
              <string>schemaspy-1508.0095</string>
              <string>schemaspy-1508.0096</string>
              <string>schemaspy-1508.0097</string>
              <string>schemaspy-1508.0098</string>
              <string>schemaspy-1508.0099</string>
              <string>schemaspy-1508.0100</string>
              <string>schemaspy-1508.0101</string>
              <string>schemaspy-1508.0102</string>
              <string>schemaspy-1508.0103</string>
              <string>schemaspy-1508.0104</string>
              <string>schemaspy-1508.0105</string>
              <string>schemaspy-1508.0106</string>
              <string>schemaspy-1508.0107</string>
              <string>schemaspy-1508.0108</string>
              <string>schemaspy-1508.0109</string>
              <string>schemaspy-1508.0110</string>
              <string>schemaspy-1508.0111</string>
              <string>schemaspy-1508.0112</string>
              <string>schemaspy-1508.0113</string>
              <string>schemaspy-1508.0114</string>
              <string>schemaspy-1508.0115</string>
              <string>schemaspy-1508.0116</string>
              <string>schemaspy-1508.0117</string>
              <string>schemaspy-1508.0118</string>
              <string>schemaspy-1508.0119</string>
              <string>schemaspy-1508.0120</string>
              <string>schemaspy-1508.0121</string>
              <string>schemaspy-1508.0122</string>
              <string>schemaspy-1508.0123</string>
              <string>schemaspy-1508.0124</string>
              <string>schemaspy-1508.0125</string>
              <string>schemaspy-1508.0126</string>
              <string>schemaspy-1508.0127</string>
              <string>schemaspy-1508.0128</string>
              <string>schemaspy-1508.0129</string>
              <string>schemaspy-1508.0130</string>
              <string>schemaspy-1508.0131</string>
              <string>schemaspy-1508.0132</string>
              <string>schemaspy-1508.0133</string>
              <string>schemaspy-1508.0134</string>
              <string>schemaspy-1508.0135</string>
              <string>schemaspy-1508.0136</string>
              <string>schemaspy-1508.0137</string>
              <string>schemaspy-1508.0138</string>
              <string>schemaspy-1508.0139</string>
              <string>schemaspy-1508.0140</string>
              <string>schemaspy-1508.0141</string>
              <string>schemaspy-1508.0142</string>
              <string>schemaspy-1508.0143</string>
              <string>schemaspy-1508.0144</string>
              <string>schemaspy-1508.0145</string>
              <string>schemaspy-1508.0146</string>
              <string>schemaspy-1508.0147</string>
              <string>schemaspy-1508.0148</string>
              <string>schemaspy-1508.0149</string>
              <string>schemaspy-1508.0150</string>
              <string>schemaspy-1508.0151</string>
              <string>schemaspy-1508.0152</string>
              <string>schemaspy-1508.0153</string>
              <string>schemaspy-1508.0154</string>
              <string>schemaspy-1508.0155</string>
              <string>schemaspy-1508.0156</string>
              <string>schemaspy-1508.0157</string>
              <string>schemaspy-1508.0158</string>
              <string>schemaspy-1508.0159</string>
              <string>schemaspy-1508.0160</string>
              <string>schemaspy-1508.0161</string>
              <string>schemaspy-1508.0162</string>
              <string>schemaspy-1511.0001</string>
              <string>schemaspy-5.0.1</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/kuali/schemaspy</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>tags/$version</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>co.kuali.schemaspy</groupId>
    <artifactId>schemaspy</artifactId>
  </rootModule>
  <goals>clean compile install -Dgrm.off=true</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <ignoreUnsuccessfulUpstreams>false</ignoreUnsuccessfulUpstreams>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers/>
  <buildWrappers/>
  <prebuilders/>
  <postbuilders/>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>