<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.7.1">
  <actions/>
  <description>Builds the rice war.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>version</name>
          <description>Git tag to build from</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>builds-rice-2.5.2-20150124-aacefa124a</string>
              <string>builds-rice-2.5.2-20150125-2827817c61</string>
              <string>builds-rice-2.5.2-20150127-03d707e6da</string>
              <string>builds-rice-2.5.2-20150127-4e4b59296a</string>
              <string>builds-rice-2.5.2-20150127-bb28c96dc1</string>
              <string>builds-rice-2.6.0-M1-20150124-3ebc16988e</string>
              <string>builds-rice-2.6.0-M1-20150125-3116ddaf35</string>
              <string>builds-rice-2.6.0-M1-20150126-3116ddaf35</string>
              <string>builds-rice-2.6.0-M1-20150127-1711a6cffc</string>
              <string>builds-rice-2.6.0-M1-20150127-4caf35b265</string>
              <string>builds-rice-2.6.0-M1-20150129-0682d747a4</string>
              <string>builds-rice-2.6.0-M1-20150202-0682d747a4</string>
              <string>builds-rice-2.6.0-M1-20150203-2c68558cde</string>
              <string>builds-rice-2.6.0-M1-20150205-6b3faaf1aa</string>
              <string>rice-1.0.1</string>
              <string>rice-1.0.1.1</string>
              <string>rice-1.0.2</string>
              <string>rice-1.0.2.1</string>
              <string>rice-1.0.3</string>
              <string>rice-1.0.3.1</string>
              <string>rice-1.0.3.2</string>
              <string>rice-1.0.3.2-fixed</string>
              <string>rice-1.0.3.2-m1</string>
              <string>rice-1.0.3.2-m2</string>
              <string>rice-1.0.3.2-m3</string>
              <string>rice-1.0.3.2-m4</string>
              <string>rice-1.0.3.3</string>
              <string>rice-1.0.3.3-m1</string>
              <string>rice-1.0.4</string>
              <string>rice-1.0.5</string>
              <string>rice-1508.0001</string>
              <string>rice-1508.0002</string>
              <string>rice-1508.0003</string>
              <string>rice-1508.0004</string>
              <string>rice-1508.0005</string>
              <string>rice-2.0.0</string>
              <string>rice-2.0.0-b1</string>
              <string>rice-2.0.0-b2</string>
              <string>rice-2.0.0-b3</string>
              <string>rice-2.0.0-b4</string>
              <string>rice-2.0.0-b5</string>
              <string>rice-2.0.0-b6</string>
              <string>rice-2.0.0-b7</string>
              <string>rice-2.0.0-m2</string>
              <string>rice-2.0.0-m3</string>
              <string>rice-2.0.0-m4</string>
              <string>rice-2.0.0-m5</string>
              <string>rice-2.0.0-m6</string>
              <string>rice-2.0.0-m7</string>
              <string>rice-2.0.0-m8</string>
              <string>rice-2.0.0-m9</string>
              <string>rice-2.0.0-rc1</string>
              <string>rice-2.0.0-rc2</string>
              <string>rice-2.0.0-rc3</string>
              <string>rice-2.0.0-rc4</string>
              <string>rice-2.0.1</string>
              <string>rice-2.0.1-M1</string>
              <string>rice-2.0.1-M2</string>
              <string>rice-2.0.1-M3</string>
              <string>rice-2.0.1-M4</string>
              <string>rice-2.0.2</string>
              <string>rice-2.1.0</string>
              <string>rice-2.1.0-M1</string>
              <string>rice-2.1.0-M2</string>
              <string>rice-2.1.0-M3</string>
              <string>rice-2.1.0-rc1</string>
              <string>rice-2.1.0-rc2</string>
              <string>rice-2.1.1</string>
              <string>rice-2.1.1-rc1</string>
              <string>rice-2.1.2</string>
              <string>rice-2.1.2-rc1</string>
              <string>rice-2.1.2-rc2</string>
              <string>rice-2.1.2-rc3</string>
              <string>rice-2.1.2-rc4</string>
              <string>rice-2.1.3</string>
              <string>rice-2.1.4</string>
              <string>rice-2.1.5</string>
              <string>rice-2.1.6</string>
              <string>rice-2.1.6-rc1</string>
              <string>rice-2.1.6-rc2</string>
              <string>rice-2.1.7</string>
              <string>rice-2.1.8</string>
              <string>rice-2.2.0</string>
              <string>rice-2.2.0-M1</string>
              <string>rice-2.2.0-M2</string>
              <string>rice-2.2.0-M3</string>
              <string>rice-2.2.0-M4</string>
              <string>rice-2.2.0-rc1</string>
              <string>rice-2.2.1</string>
              <string>rice-2.2.2</string>
              <string>rice-2.2.3</string>
              <string>rice-2.2.4</string>
              <string>rice-2.2.5</string>
              <string>rice-2.2.6</string>
              <string>rice-2.3.0</string>
              <string>rice-2.3.0-M1</string>
              <string>rice-2.3.0-M2</string>
              <string>rice-2.3.0-M3</string>
              <string>rice-2.3.0-RC1</string>
              <string>rice-2.3.0-rc2</string>
              <string>rice-2.3.1</string>
              <string>rice-2.3.2</string>
              <string>rice-2.3.3</string>
              <string>rice-2.3.4</string>
              <string>rice-2.3.5</string>
              <string>rice-2.4.0</string>
              <string>rice-2.4.0-M1</string>
              <string>rice-2.4.0-M2</string>
              <string>rice-2.4.0-M3</string>
              <string>rice-2.4.0-M4</string>
              <string>rice-2.4.0-M5</string>
              <string>rice-2.5.0-M1</string>
              <string>rice-2.5.2</string>
              <string>rice-2.5.3-kckualico</string>
              <string>rice-2.5.3.1504.1-kckualico</string>
              <string>rice-2.5.3.1504.2-kckualico</string>
              <string>rice-2.5.3.1505.1-kckualico</string>
              <string>rice-2.5.3.1505.10-kckualico</string>
              <string>rice-2.5.3.1505.11-kckualico</string>
              <string>rice-2.5.3.1505.12-kckualico</string>
              <string>rice-2.5.3.1505.13-kckualico</string>
              <string>rice-2.5.3.1505.14-kckualico</string>
              <string>rice-2.5.3.1505.15-kckualico</string>
              <string>rice-2.5.3.1505.16-kckualico</string>
              <string>rice-2.5.3.1505.17-kckualico</string>
              <string>rice-2.5.3.1505.2-kckualico</string>
              <string>rice-2.5.3.1505.3-kckualico</string>
              <string>rice-2.5.3.1505.4-kckualico</string>
              <string>rice-2.5.3.1505.5-kckualico</string>
              <string>rice-2.5.3.1505.6-kckualico</string>
              <string>rice-2.5.3.1505.7-kckualico</string>
              <string>rice-2.5.3.1505.8-kckualico</string>
              <string>rice-2.5.3.1505.9-kckualico</string>
              <string>rice-2.5.3.1506.1-kckualico</string>
              <string>rice-2.5.3.1506.2-kckualico</string>
              <string>rice-2.5.3.1506.3-kckualico</string>
              <string>rice-2.5.3.1507.1-kckualico</string>
              <string>rice-2.5.3.1507.10-kckualico</string>
              <string>rice-2.5.3.1507.11-kckualico</string>
              <string>rice-2.5.3.1507.12-kckualico</string>
              <string>rice-2.5.3.1507.13-kckualico</string>
              <string>rice-2.5.3.1507.14-kckualico</string>
              <string>rice-2.5.3.1507.15-kckualico</string>
              <string>rice-2.5.3.1507.16-kckualico</string>
              <string>rice-2.5.3.1507.17-kckualico</string>
              <string>rice-2.5.3.1507.2-kckualico</string>
              <string>rice-2.5.3.1507.3-kckualico</string>
              <string>rice-2.5.3.1507.4-kckualico</string>
              <string>rice-2.5.3.1507.5-kckualico</string>
              <string>rice-2.5.3.1507.6-kckualico</string>
              <string>rice-2.5.3.1507.7-kckualico</string>
              <string>rice-2.5.3.1507.8-kckualico</string>
              <string>rice-2.5.3.1507.9-kckualico</string>
              <string>rice-2.5.3.1508.0006-kualico</string>
              <string>rice-2.5.3.1508.0007-kualico</string>
              <string>rice-2.5.3.1508.0008-kualico</string>
              <string>rice-2.5.3.1508.0009-kualico</string>
              <string>rice-2.5.3.1508.0010-kualico</string>
              <string>rice-2.5.3.1508.0011-kualico</string>
              <string>rice-2.5.3.1508.0012-kualico</string>
              <string>rice-2.5.3.1508.1-kckualico</string>
              <string>rice-2.5.3.1508.2-kckualico</string>
              <string>rice-2.5.3.1508.3-kckualico</string>
              <string>rice-2.5.3.1509.0001-kualico</string>
              <string>rice-2.5.3.1509.0002-kualico</string>
              <string>rice-2.5.3.1509.0003-kualico</string>
              <string>rice-2.5.3.1510.0001-kualico</string>
              <string>rice-2.5.3.1510.0002-kualico</string>
              <string>rice-2.5.3.1510.0003-kualico</string>
              <string>rice-2.5.3.1510.0004-kualico</string>
              <string>rice-2.5.3.1510.0005-kualico</string>
              <string>rice-2.5.3.1511.0001-kualico</string>
              <string>rice-2.5.3.1511.0002-kualico</string>
              <string>rice-2.5.3.1511.0003-kualico</string>
              <string>rice-2.5.3.1512.0001-kualico</string>
              <string>rice-2.5.3.1512.0002-kualico</string>
              <string>rice-2.5.3.1512.0003-kualico</string>
              <string>rice-2.5.3.1512.0004-kualico</string>
              <string>rice-2.5.3.1601.0001-kualico</string>
              <string>rice-2.5.3.1601.0002-kualico</string>
              <string>rice-2.5.3.1603.0001-kualico</string>
              <string>rice-2.5.4.0-kckualico</string>
              <string>rice-2.5.4.1-kckualico</string>
              <string>rice-2.5.4.2-kckualico</string>
              <string>rice-2.5.4.3-kckualico</string>
              <string>rice-2.5.4.4-kckualico</string>
              <string>rice-2.5.4.5-kckualico</string>
              <string>rice-2.5.4.6-kckualico</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/kuali/kc-rice</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>tags/$version</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>false</shallow>
        <noTags>false</noTags>
        <reference></reference>
        <timeout>45</timeout>
        <depth>0</depth>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.kuali.rice</groupId>
    <artifactId>rice</artifactId>
  </rootModule>
  <goals>clean -e -X compile install -Dgrm.off=true</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers/>
  <buildWrappers/>
  <prebuilders/>
  <postbuilders/>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>